body {
    background: #fff;
    color: #222;
}

body, html {
    font-size: small;
    font: small arial,sans-serif; */
    margin: 0;
    min-width: 360px;
    min-height: 100%;
    text-align: -webkit-center;
}

ul {
    list-style-type: none;
    padding: 0;
}

#header a {
     text-decoration: none;
}

#header li {
    float: right;    
}

#header a {
    display: block;
    padding: 8px;   
    color: #757575;
}